<div class="frame">
  <div class="left-top-button">
    <button kodeInfoPopup kodeInfoId="left-top-popup">Left Top</button>
  </div>
  <div class="right-top-button">
    <button kodeInfoPopup kodeInfoId="right-top-popup">Right Top</button>
  </div>
  <div class="left-bottom-button">
    <button kodeInfoPopup kodeInfoId="left-bottom-popup">Left Bottom</button>
  </div>
  <div class="right-bottom-button">
    <button kodeInfoPopup kodeInfoId="right-bottom-popup">Right Bottom</button>
  </div>
  <div class="center-button">
    <button kodeInfoPopup kodeInfoId="center-popup">Center</button>
  </div>
</div>
