<div class="frame">
  <div class="left-top-button">
    <button kodeInfoPopup kodeInfoId="Left top popup">Left Top</button>
  </div>
  <div class="right-top-button">
    <button kodeInfoPopup kodeInfoId="Right top popup">Right Top</button>
  </div>
  <div class="left-bottom-button">
    <button kodeInfoPopup kodeInfoId="Left bottom popup">Left Bottom</button>
  </div>
  <div class="right-bottom-button">
    <button kodeInfoPopup kodeInfoId="Right bottom popup">Right Bottom</button>
  </div>
  <div class="center-button">
    <button kodeInfoPopup kodeInfoId="Center popup">Center</button>
  </div>
</div>
