<div class="frame">
  <div class="left-top-button">
    <button (click)="onLeftTopButtonClick($event)">Left Top</button>
  </div>
  <div class="right-top-button">
    <button (click)="onRightTopButtonClick($event)">Right Top</button>
  </div>
  <div class="left-bottom-button">
    <button (click)="onLeftBottomButtonClick($event)">Left Bottom</button>
  </div>
  <div class="right-bottom-button">
    <button (click)="onRightBottomButtonClick($event)">Right Bottom</button>
  </div>
  <div class="center-button">
    <button (click)="onCenterButtonClick($event)">Center</button>
  </div>
</div>
