/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  --border-color: rgb(126, 126, 126);
  --background-color: white;
  --highlight-color: red;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
